[submodule "stablehlo"]
	path = externals/stablehlo
	url = https://github.com/openxla/stablehlo.git
[submodule "torch-mlir"]
	path = externals/torch-mlir
	url = https://github.com/llvm/torch-mlir.git
[submodule "third_party/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
